In [1]:
mylist="list statement"
for word in mylist:
    print(word)
else:
    print("end")

l
i
s
t

s
t
a
t
e
m
e
n
t
end

In [2]:
my_list=[]
my_list1=list()
my_list2=["python","javascript","SQL"]
print(my_list2[0])
print(my_list2[1])
print(my_list2[2])
print(my_list2[-1])
print(my_list2[-2])
my_list2.append("java")
print(my_list2[-1])
print(len(my_list2))

python
javascript
SQL
SQL
javascript
java
4

In [3]:
my_list=[]
my_list1=list()
my_list2=["python","javascript","SQL"]
print(my_list2[0])
print(my_list2[1])
print(my_list2[2])
print(my_list2[-1])
print(my_list2[-2])
my_list2.append("java")
print(my_list2[-1])
print(len(my_list2))
print(my_list2)
my_list2.insert(0,"c#")
print(my_list2)
del my_list2[-1]
print(my_list2[-1])
my_list2.remove("c#")
print(my_list2)

python
javascript
SQL
SQL
javascript
java
4
['python', 'javascript', 'SQL', 'java']
['c#', 'python', 'javascript', 'SQL', 'java']
SQL
['python', 'javascript', 'SQL']

In [4]:
#list串列 
my_list=[]
my_list1=list()
my_list2=['python','js','SQL']
print(my_list2[0]) 
print(my_list2[1])
print(my_list2[2])

python
js
SQL